<footer class="footer" th:fragment="content">

    <div class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-logo-left"><img src="img/footer-logo.png"></div>
            <div class="all-rights-reserved">© 2022 auction.com.
                <div>All rights reserved.</div>
            </div>
            <nav class="bottom-menu"><a href="/market">market</a><a href="#">delivery</a><a href="#">cashbox</a><a href="#">faq</a><a href="#">contacts</a></nav>
            <div class="footer-logo-right"><img src="img/footer-logo-swd.png"></div>
        </div>
    </div>
</footer>