<header class="header" th:fragment="header-content" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

    <div class="common-header-wrapper">

        <div class="top-header-container">
            <a class="logo" href="/index"><img src="/img/logo.png"></a>


            <nav class="top-menu">
                <a href="/market">market</a>
<!--                <a href="/add-new-lot">add new lot</a>-->
                <a href="#">cashbox</a>
                <c:if test="${sessionScope.user != null}" >
                    <a href="/profile">profile</a>
                </c:if>


            </nav>

            <div class="contact-panel">

                <div class="cp-wrapper-elements">

                    <div class="contact-links">
                        <c:if test="${sessionScope.user == null}" >
                            <div><a href="/registration">Sign up</a></div>
                            <div><a href="/login">Sign in</a></div>
                        </c:if>

                        <c:if test="${sessionScope.user != null}" >
                            <div>
                                <form action="/logout" method="post">
                                    <button type="submit">Sign out</button>
                                </form>
                            </div>

                        </c:if>

                    </div>

                </div>

                <form class="search-form" action="index.html">
                    <input class="search" type="text" name="info" placeholder="Search">
                    <input class="button" type="submit" name="sub" value="">
                </form>
            </div>
        </div>

        <div class="middle-header-container">

            <div class="header-title">Auction</div>

        </div>

        <div class="crumbs">
            <a href="/index">main page</a>
            <a href="/market">market</a>

        </div>
    </div>
</header>