<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lot</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-style.css}"/>

</head>
<body>

<div class="page-wrapper">

    <header th:replace="header :: header-content"></header>

    <div class="content-wrapper">

        <aside class="aside"><a href="#">About us</a><a href="#">Delivery</a><a href="#">FAQ</a></aside>

        <div class="first-section">

            <div id="content" th:with="lot=${lotBids.get(0)}">
                <div class="lot-info">
                    <h2>Lot name: <span th:text="${lot.getLotName()}"></span></h2>
                    <h2>Lot owner: <span th:text="${lot.getLotOwner()}"></span></h2>
                    <h2>Start bid: <span th:text="${lot.getStartBid()}"></span></h2>
                    <h2>Last bid: <span th:text="${lot.lastBid}"></span></h2>
<!--                    <h2>Last bid: <span th:text="${lotBids.get(lotBids.size()-1).getUserBid()}"></span></h2>-->
                </div>

                <div class="lot-info">
                    <table>
                        <tr>
                            <th>USER</th>
                            <th>BID</th>
                            <th>TIME</th>
                        </tr>

                        <tr th:each="bid : ${lotBids}">
                            <td th:text="${bid.username}"></td>
                            <td th:text="${bid.userBid}"></td>
                            <td th:text="${bid.username}"></td>
                        </tr>

                    </table>

                </div>

                <div class="wrap-bet-form">
                    <form class="login100-form validate-form flex-sb flex-w" th:method="post" th:action="@{/lot/{id}(id=${lot.getLotId()})}" >

                        <div class="wrap-input100 validate-input">
                            <input type="hidden" th:value="${lot.lotName}" name="lotName"/>
                            <input type="hidden" th:value="${lot.lotOwner}" name="lotOwner"/>
                            <input class="input100" type="text" name="userBid" placeholder="Sum" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn">Bid</button>
                        </div>

<!--                        <span class="alert-message" th:if="${errorMessage}" role="alert" th:text="${errorMessage}"></span>-->

                    </form>


                </div>

            </div>

        </div>
    </div>

    <footer th:replace="footer :: footer-content"></footer>
</div>
</body>
</html>
