<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="utf-8">
    <title>Market</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-style.css}"/>
</head>
<body>

<div class="page-wrapper">

    <header th:replace="header :: content"></header>

    <div class="content-wrapper">

        <aside class="aside"><a href="#">About us</a><a href="#">Delivery</a><a href="#">FAQ</a></aside>

        <div class="first-section">

            <div id="content">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>LOT</th>
                        <th>OWNER</th>
                        <th>START BID</th>
                        <th>LAST BID</th>
                        <th>STATUS</th>
                        <th>TIME LEFT</th>
                    </tr>
                    <c:forEach var="lot" items="${requestScope.lots}">
                        <tr>
                            <td>${lot.id}</td>
<!--                            <td><a href="${pageContext.request.contextPath}/lot?lotId=${t.owner}">${lot.lotName}</a></td>-->
                            <td>${lot.owner}</td>
                            <td>${lot.startBid} $</td>
                            <c:choose>
                                <c:when test="${lot.lastBid != 'null'}">
                                    <td>
                                        <div>${lot.lastBid} $</div>
                                        <div class="name-of-user-in-last-bid-column">${lot.userWhoMadeLastBid}</div>

                                    </td>

                                </c:when>
                                <c:otherwise>
                                    <td>-</td>
                                </c:otherwise>
                            </c:choose>
                            <c:choose>
                                <c:when test="${lot.lotStatus eq 'SOLD'}">
                                    <td><span class="lot-status-sold">${lot.lotStatus}</span></td>
                                </c:when>
                                <c:when test="${lot.lotStatus eq 'NOT_SOLD'}">
                                    <td><span class="lot-status-not-sold">NOT SOLD</span></td>
                                </c:when>
                                <c:otherwise>
                                    <td><span class="lot-status-sell">${lot.lotStatus}</span></td>
                                </c:otherwise>
                            </c:choose>
                            <td>${lot.time}</td>
                        </tr>
                    </c:forEach>
                    <c:if test="${not empty requestScope.errors}">
                        <div>
                            <c:forEach var="error" items="${requestScope.errors}">
                                <ul>
                                    <li><span class="alert-message">${error.message}</span></li>
                                </ul>

                            </c:forEach>
                        </div>
                    </c:if>
                </table>
            </div>

        </div>

    </div>

    <footer th:replace="footer :: content"></footer>
</div>
</body>
</html>
