<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="utf-8">
    <title>Market</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-style.css}"/>
</head>
<body>

<div class="page-wrapper">

    <header th:replace="header :: header-content"></header>

    <div class="content-wrapper">

        <aside class="aside"><a href="#">About us</a><a href="#">Delivery</a><a href="#">FAQ</a></aside>

        <div class="first-section">

            <div id="content">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>LOT</th>
                        <th>OWNER</th>
                        <th>START BID</th>
                        <th>LAST BID</th>
                        <th>STATUS</th>
                        <th>TIME LEFT</th>
                    </tr>

                        <tr th:each="lot : ${lots}">
                            <td th:text="${lot.id}"></td>
<!--                            <td th:text="${lot.lotName}"></td>-->
                            <td> <a th:text="${lot.lotName}" th:href="@{/lot/{id}(id=${lot.getId()})}"></a></td>
                            <td th:text="${lot.lotOwner}"></td>
                            <td th:text="${lot.startBid}"></td>
                            <td th:text="${lot.lastBid}"></td>

                            <td th:switch="${lot.statusId}">
                                <span class="lot-status-sell" th:case="1">SELL</span>
                                <span class="lot-status-sold" th:case="2">SOLD</span>
                                <span class= "lot-status-not-sold" th:case="3">NOT SOLD</span>
                            </td>
                            <td> - </td>

                        </tr>

                </table>
            </div>

        </div>

    </div>

    <footer th:replace="footer :: footer-content"></footer>
</div>
</body>
</html>
